<%= simple_form_for(@contact) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.input :account_tokens, :label => "Link Account", "data-pre" => @contact.accounts.map(&:attributes).to_json,:tokenLimit => 1%>
  <div>
    <%= render '/addressable/addresses/address', :f => f %>
  </div>
<br/>
  <%= f.button :submit %>
  <br/>
<% end %>
