<%= form_tag(params.merge(:action=>:index), {:method => :get}) do %>
  <thead>
    <tr>
      <th>
        <%= link_to "^", params.merge({:sort => 'crm_contacts.name asc'}), :title=> 'Asc' %>&nbsp;
        Name &nbsp;
        <%= link_to "v", params.merge({:sort => 'crm_contacts.name desc'}), :title=> 'Desc' %>
      </th>
      <th>
        <%= link_to "^", params.merge({:sort => 'crm_contacts.email asc'}), :title=> 'Asc' %>&nbsp;
        Email &nbsp;
        <%= link_to "v", params.merge({:sort => 'crm_contacts.email desc'}), :title=> 'Desc' %>
      </th>
      <th>
        <%= link_to "^", params.merge({:sort => 'crm_contacts.phone asc'}), :title=> 'Asc' %>&nbsp;
        Phone &nbsp;
        <%= link_to "v", params.merge({:sort => 'crm_contacts.phone desc'}), :title=> 'Desc' %>
      </th>
      <th>Account</th>
      <th></th>
      <th><%= link_to "Filters", "#", :class => 'btn btn-mini', :id => 'filters_link', :onclick=>"show('filters_row'); return false;" %></th>
      <th></th>
    </tr>
    
    <tr id="filters_row">
      <td>
          <%= text_field_tag :contact_name, params[:contact_name], {:size => "5"} %>
      </td>
      <td>
          <%= text_field_tag :contact_email, params[:contact_email], :limit => 20 %>
      </td>
      <td>
          <%= text_field_tag :contact_phone, params[:contact_phone], :limit => 15 %>
      </td>
      <td>
      </th>
      <td colspan='3'>
        <%= submit_tag 'Apply Filter' %>
      </td>
     </tr>
  </thead>
<% end %>  

