<h1>Portal Contacts</h1>
<div style="float:right"><%= link_to 'New Contact', new_contact_path, :class => 'btn btn-primary' %></div>
<%= render 'alphabets' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Account Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.accounts.first.name rescue "-" %></td>
    <td><%= link_to 'Show', contact, :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', contact, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @contacts, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>

