<h1>Portal Contacts</h1>
<div style="float:right"><%= link_to 'New Contact', new_contact_path, :class => 'btn btn-primary' %></div>
<%= render 'alphabets' %>
<table class="table table-striped">
<%= render 'head' %>
<% @contacts.each do |contact| %>
  <tr>
    <td><%= link_to contact.name, contact, :title=>"View #{contact.name}" %></td>
    <td><%= link_to contact.email, edit_contact_path(contact), :title=>"Edit #{contact.name}" %></td>
    <td><%= contact.phone %></td>
    <td><%= contact.accounts.first.name rescue "-" %></td>
    <td><%#= link_to 'Show', contact, :class => 'btn btn-mini' %></td>
    <td><%#= link_to 'Edit', edit_contact_path(contact), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', contact, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @contacts, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>

