<div>
<%f = obj.addresses.first %>
<p>
  <b>Title:</b>
  <%= f.title unless f.nil? %>
</p>
<p>
  <b>Street1:</b>
  <%= f.street1 unless f.nil? %>
</p>
<p>
  <b>Street2:</b>
  <%= f.street2 unless f.nil?%>
</p>
<p>
  <b>City:</b>
  <%= f.city unless f.nil? %>
</p>
<p>
  <b>Country:</b>
  <%= f.country unless f.nil? %>
</p>
<p>
  <b>Zipcode:</b>
  <%= f.zipcode unless f.nil? %>
</p>
</div>


