<%= simple_form_for(@account) do |f| %>
  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <%= f.text_field :contact_tokens, :label => "Link contacts", "data-pre" => @account.contacts.map(&:attributes).to_json %>
  <div>
    <%= render_addressable_new(f) %>
  </div>
  <br/>
  <%= f.button :submit %>
<% end %>
