<h1>Portal Accounts</h1>
<div style="float:right"><%= link_to 'New Account', new_account_path, :class => 'btn btn-primary' %></div>
<%= render 'alphabets' %>
<table class="table table-striped">
  <%= render 'head' %>
<% @accounts.each do |account| %>
  <tr>
    <td><%= link_to account.name, account, :title => "View #{account.name}" %></td>
    <td><%= link_to account.email, edit_account_path(account), :title => "Edit #{account.name}" %></td>
    <td><%= account.phone %></td>
    <td><%= account.contacts.size %></td>
    <td><%#= link_to 'Show', account, :class => 'btn btn-mini' %></td>
    <td><%#= link_to 'Edit', edit_account_path(account), :class => 'btn btn-mini' %></td>
    <td><%= link_to 'Destroy', account, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @accounts, :renderer => WillPaginate::ActionView::BootstrapLinkRenderer %>
