<thead>
    <tr>
      <%= @head_columns.each do |key, val| %>
        <th>
          <%= link_to "^", params.merge({:sort => "#{val} asc"}), :title=> 'Asc' %>&nbsp;
          Name &nbsp;
          <%= link_to "v", params.merge({:sort => "#{val} asc"}), :title=> 'Desc' %>
        </th>
      <%end%>      
      <th>Contacts</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    
    <%= form_tag(params.merge(:action=>:index), {:method => :get}) do %>
    <tr>
      <%= @head_columns.each do |key, val| %>
        <th>
            <%= text_field_tag key.to_sym, params[key.to_sym], {:size => "5"} %>
        </th>
      <%end%>
      <td></td>
      <th colspan='3'>
        <%= submit_tag 'Apply Filter' %>
      </th>
    </tr>
    <% end %>  

</thead>

